<!-- DISPLAY GIVEN COCKTAIL BY ITS ID -->

<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<%= @cocktail.name %>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail.id) %>
