.form {
 position: absolute;
 top: 80px;
 left: 40px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 80px;
}

h2, p {
  color: #222224;
}



a {
  text-align: center;
  color: black;
}


.pagebtn {
  position: absolute;
  top: 80px;
  right: 40px;

}

.cocktail_photo {
  position: absolute;
  top: 40px;
  left: 40px;
  border-radius: 20%;
}
